/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('./font.css');

:root {
  font-family: 'BR Sonoma', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  overscroll-behavior-y: none;
}

/* html,
body,
#root {
  height: 100%;
}

body {
  display: block;
}

#root {
  display: flex;
} */
html,
body,
#__nuxt {
  height: 100%;
  overscroll-behavior: none;
}

/* #root {
  overflow: hidden;
  min-height: 100dvh;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid #cccccc; */
  -webkit-text-fill-color: #637178 !important;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
  font-weight: 500;
  /* color: #637178; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  /* border: none; */
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
  /* color: #637178; */
}
